/* Default to day mode (white background, black text) */
:root, [data-theme="day"] {
  --background-color: #ffffff;
  --text-color: #000000;
  --border-color: #000000;
  --button-bg: #000000;
  --button-text: #ffffff;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

/* Night mode (black background, white text) */
[data-theme="night"] {
  --background-color: #000000;
  --text-color: #ffffff;
  --border-color: #ffffff;
  --button-bg: #ffffff;
  --button-text: #000000;
  --shadow-color: rgba(255, 255, 255, 0.1);
}


.app {
  display: flex;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevents scrolling on app container */
  background-color: var(--background-color);
  color: var(--text-color);

}